%ul.dropdwn
  %li
    = link_to "wryblog", root_path, class: 'bigtitle'

  -if user_signed_in?
    %li
      %p.name
        = current_user.nickname
      %ul.dropdwn_menu
        %li
          = link_to "私の記事一覧", user_path(current_user),class:"dropdwn-a"
        %li
          = link_to "ログアウト", destroy_user_session_path, method: :delete ,class:"dropdwn-a"

  -else
    %li
      %i.fas.fa-door-open
      %ul.dropdwn_menu
        %li
          = link_to "ログイン", new_user_session_path ,class:"dropdwn-a"
        %li
          = link_to "新規登録", new_user_registration_path,class:"dropdwn-a"