.blogtop
  .slick-box
    .slick
      - @blogs.each do |blog|
        .blogimage-2
          = link_to blog_path(blog.id) do
            = image_tag blog.images[0].image_url,class:"abc"
  .blogtop-article
    - @blogs.each do |blog|
      .blogtop-article-list
        .blogtop-article-list-image
          = link_to blog_path(blog.id) do
            = image_tag blog.images[0].image_url,class:"blogimage-img"
        .blogtop-article-list-details
          .blogtop-article-list-details-title
            = link_to blog.title, blog_path(blog.id), class: 'blogs-title'
          .blogtop-article-list-details-nametime
            .blogtop-article-list-details-nametime-username
              = link_to blog.user.nickname, user_path(blog.user), class: 'blogs-user'
            .blogtop-article-list-details-nametime-time
              =blog.created_at
    .pager
      = paginate(@blogs)
    
  .tags-list
    タグ一覧
  .tag
    - @tags.each do |tag|
      .tag-details
        = link_to tag.tag_name, tag_path(tag.id), class: 'tag-details-blogs'


= render partial: 'footer' 