.boxbox
  %p.mozi 記事を検索
.search1 
  = form_tag(search_blogs_path,:method => 'get' ,class: "form-a")do 
    = text_field_tag :search 
    .search2
      = submit_tag 'Search', :name => nil ,class: "search10"
.box
  .article-list
    記事一覧
  .slick-box
    .slick
      - @blogs.each do |blog|
        .blogimage-2
          = link_to blog_path(blog.id) do
            = image_tag blog.images[0].image_url,class:"abc"
  .article-list2
    - @blogs.each do |blog|
      .article
        .blogimage
          = link_to blog_path(blog.id), class: "www" do
            = image_tag blog.images[0].image_url,class:"blogimage-img"
        .details
          .title
            = link_to blog.title, blog_path(blog.id), class: 'blogs-title'
          .nametime
            .username
              = link_to blog.user.nickname, user_path(blog.user), class: 'blogs-user'
            .time
              =blog.created_at
    .pager
      = paginate(@blogs)
    
  .tags-list
    タグ一覧
  .tag
    - @tags.each do |tag|
      .tag-details
        = link_to tag.tag_name, tag_path(tag.id), class: 'tag-details-blogs'
  
  -# .slick-box
  -#   .slick
  -#     - @blogs.each do |blog|
  -#       .blogimage-2
  -#         = link_to blog_path(blog.id) do
  -#           = image_tag blog.images[0].image_url,class:"abc"

