.box
  .new-title
    記事の作成
.box
  .new-blog
    = form_for @blog, class:'form' do |f|
      .field
        .field-label
          = f.label :tag
        .field-input
          =f.text_field :tag_name, value: @tag_list
      .field
        .field-label
          = f.label :title
        .field-input
          = f.text_field :title
      .field-body
        .field-label-body
          = f.label :body
        .field-input-body
          = f.text_area :body
      .actions
        = f.submit "投稿する", class: 'btn'