%p.mozi 記事を検索
.search1 
  = form_tag(search_blogs_path,:method => 'get' ,class: "form-a")do 
    = text_field_tag :search 
    = submit_tag 'Search', :name => nil 

.box
  .article-list
    記事一覧
  .article-list2
    - @blogs.each do |blog|
      .article
        .title
          = link_to blog.title, blog_path(blog.id), class: 'blogs-title'
        .username
          = link_to blog.user.nickname, user_path(blog.user), class: 'blogs-user'
        .time
          =blog.created_at