.box1
  .article1
    .title1
      = @blog.title
    .blogDate
      = @blog.created_at
    .body1
      = @blog.body

    - if user_signed_in? && current_user.id == @blog.user_id
      .blogManage
        = link_to "編集", edit_blog_path(@blog.id), class: "blog-edit"
        = link_to "削除", blog_path(@blog.id), method: :delete, class: "blog-delete"
  
  .comentnew
    - if current_user
      = form_for([@blog, @comment], local: true, id: "new_comment")  do |f|
        = f.text_area :text, placeholder: "コメントする", rows: "2", class: "textbox"
        = f.submit "SEND", class: "form__submit"
    - else
      %strong
        ※※※ コメントの投稿には新規登録/ログインが必要です ※※※

  .comments-a
    %h4 
      コメント一覧
      - if @comments
        - @comments.each do |comment|
          %strong
            =link_to comment.user.nickname, "/users/#{comment.user_id}"
          = comment.text