- image = @blog.images.first
.show-backbround-color
  .show-main
    .content
      .product
        .item-box
          .item-box__body
            %ul
              %li
                = image_tag image.image_url.url,class:"main-image"
                %ul
                  - @blog.images.each do |image|
                    %li
                      = image_tag image.image_url.url,class:"image-list"
          .item-box__name
            = @blog.title
          .aaa
            = @blog.body

    - if user_signed_in? && current_user.id == @blog.user_id
      .blogManage
        = link_to "編集", edit_blog_path(@blog.id), class: "blog-btn"
        = link_to "削除", blog_path(@blog.id), method: :delete, class: "blog-btn"
  
.box1
  .comentnew
    - if current_user
      = form_for([@blog, @comment], local: true, id: "new_comment")  do |f|
        = f.text_area :text, placeholder: "コメントする", rows: "2", class: "textbox"
        = f.submit "SEND", class: "form__submit"
    - else
      %strong
        ※※※ コメントの投稿には新規登録/ログインが必要です ※※※

  .comments-a
    %h4 
      <コメント一覧>
    - if @comments
      - @comments.each do |comment|
        .comment-b
          %strong.com
            =link_to comment.user.nickname, "/users/#{comment.user_id}", class:"com-user"
            = comment.text