!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Wryblog
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", rel: "stylesheet", type: "text/css"}/
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js", type: "text/javascript"}
  %body
    .header
      %ul.dropdwn
        %li
          = link_to "wryblog", root_path, class: 'bigtitle'
        .kkk
          .search1 
            = form_tag(search_blogs_path,:method => 'get' ,class: "form-a")do 
              = text_field_tag :search 
              = submit_tag "\uF002",class: "search-bun"

          -if user_signed_in?
            %li
              %p.name
                = current_user.nickname
              %ul.dropdwn_menu
                %li
                  = link_to "記事一覧", user_path(current_user),class:"dropdwn-a"
                %li
                  = link_to "ログアウト", destroy_user_session_path, method: :delete ,class:"dropdwn-a"

          -else
            %li
              %i.fas.fa-door-open
              %ul.dropdwn_menu
                %li
                  = link_to "ログイン", new_user_session_path ,class:"dropdwn-a"
                %li
                  = link_to "新規登録", new_user_registration_path,class:"dropdwn-a"

    = yield
